* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.display {
  background-color: #e9ecef;
  font-size: larger;
  width: 200px;
  text-align: right;
  padding: 5px 15px;
  margin: 0 auto;
}

div.input {
  display: flex;
  margin: 0 auto;
  background-color: aliceblue;
  width: 200px;
  padding: 5px 15px;
  justify-content: center;
  gap: 10px;
}

div.digits {
  /* height: 120px; */
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

div.digit {
  width: 30px;
  height: 30px;
  background-color: #6c757d;
  text-align: center;
  border-radius: 5px;
  /* margin: 3px 0; */
  line-height: 30px;
  flex: 1 1 auto;
  color: #dee2e6;
}

div#zero {
  flex: 10 1 auto;
}

div#dot {
  flex: 0 1 auto;
}

div.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.operator,
div.equal,
div.clear {
  background-color: #6c757d;
  border-radius: 5px;
  width: 30px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #e9ecef;
}

div.right div.clear {
  font-size: 10px;
}
